<footer class="text-muted">
  <div class="container">
    <p class="float-right">
      <%= link_to 'Show all portfolio items', portfolios_path %> | <a href="#">Back to top</a>
    </p>
    <p>
      <%= copyrights_generator %>
    </p>
  </div>
</footer>